@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

.banner {
    height: 50vh;
}      

.carousel-item {
    height: 50vh;
}

.d-block {
    height: 50vh;
}

h5{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Oswald', sans-serif;
}

.card-options {
    background-color: #008bf8;
    display: flex;
    align-items: center;
    height: 60vh;
    border: 1px solid black;
}

.iconomusical {
    height: 10vh;
}


footer {
    background-color: rgb(56, 56, 56);
    color: #eae3df;
}

.tfooter {
    color: #eae3df;
}


/**
.servicio{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
}


.cuadroservicio{
    box-shadow: 5px 10px #888888;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 45vh;
    width: 50vw;
    border-radius: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.img_prod{
    height: 14vh;
}

.desc_serv{
    display: flex;
    align-items: center;
    align-content: center;
    height: 10vh;
    font-size:20px;

}

**/